.container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7EA;
    font-size: 15px;
    font-family: sans-serif;
}

.block {
    padding: 5px 20px;
    margin: 2px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.block:first-child {
    box-shadow: 5px 5px 2px #B3C2CA;
}

div, button {
    display: flex;
    justify-content: flex-start;
}

.heading {
    color: #4D84B7;
    padding-top: 5px;
}

.about {
    color: #5E4E65;
    font-size: 0.8em;
    padding-top: 15px;
}

.price {
    color: #5E4E65;
    font-size: 1.4em;
    padding: 22px 5px 1px 5px;
}

.discount {
    color: #6C7278;
    padding: 1px 5px;
    font-size: 0.9em;
    text-decoration: line-through;
}

button {
    color: white;
    background-color: #9FDD40;
    border: none;
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding: 7px;
    width: 45%;
}

p {
    color: #A39F7E;
    font-size: 0.7em;
    margin: 5px 0;
}
