body {
    padding: 0;
    margin: 0;
    font-family: monospace;
}
.container {
    background: #50BAD3;
}
textarea, input {
    background: #A3CAD3;
}
legend {
    color: rebeccapurple;
    font-size: 23px;
    font-weight: 600;
}
textarea {
    width: 100%;
}
select {
    background: #A3CAD3;
}
label {
    font-size: 17px;
}
.button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 5px;
    color: rebeccapurple;
    width: 100%;

}
